# Environnements virtuels
venv/
.env/
.env.local

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Données et modèles (ne pas versionner les gros fichiers)
#data/
#models/
data/raw/           ← ON A AJOUTE
data/processed/     ← ON A AJOUTE
models/             ← PN A LAISSE COMME ÇA

# Notebooks checkpoints
*.ipynb_checkpoints/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.jupyter/

# MLflow
mlruns/

# DVC
.dvc/

# Système
.DS_Store
Thumbs.db
